geopandas
hyperopt
ipykernel
ipython
ipywidgets
jupyter
jupyterlab
matplotlib
neuralforecast
numpy
pandas
python-dotenv
ray
requests
scikit-learn
seaborn
statsmodels
streamlit
duckdb
pyod
ydata-profiling