#TODO: Review used libraries and rebuild this;
geopandas
hyperopt
ipykernel
ipython
ipywidgets
jupyter
jupyterlab
matplotlib
numpy
pandas
python-dotenv
ray
requests
scikit-learn
seaborn
statsmodels
streamlit
duckdb
pyod
ydata-profiling
xgboost
lightgbm
#hydroeval
category_encoders
mlflow

#statsforecast
#neuralforecast